/* #region debug */

.debug [class^="col"] {
    min-height: 200px;
    background-color: lightsalmon;
    border: 1px solid black;
}

.debug .jumbotron [class^="col"] {
    min-height: 80px;
}

/* #endregion debug */

/* #region common */

:root {
    --dark: #2C3E50;
    --paledark: #3A546D;
    --success: #1ABC9C;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

/* #endregion common */

/* #region utility */

.free-bg-dark {
    background-color: var(--dark);
}

.free-dark {
    color: var(--dark);
}

.free-bg-success {
    background-color: var(--success);
}

.free-success {
    color: var(--success);
}

.free-b-color-success {
    border-color: var(--success);
}

.free-bg-paledark {
    background-color: var(--paledark);
}

.free-mw-200 {
    max-width: 200px;
}

.free-w-250 {
    width: 250px;
}

.free-square-icon {
    height: 46px;
    width: 46px;
}

.line {
    height: 4px;
    width: 100px;
}

/* #endregion utility */