/* #region debug */

.debug [class^="col"] {
    min-height: 200px;
    background-color: lightsalmon;
    border: 1px solid black;
}

.debug .jumbotron [class^="col"] {
    min-height: 80px;
}

/* #endregion debug */

/* #region common */

:root {
    --dark: #2C3E50;
    --paledark: #3A546D;
    --success: #1ABC9C;
}

/* #endregion common */

/* #region utility */

img {
    max-width: 100%;
}

.free-bg-dark {
    background-color: var(--dark);
}

.free-bg-success {
    background-color: var(--success);
}

.free-mw-200 {
    max-width: 200px;
}

/* #endregion utility */

/* #region site-header */

#site-header,
.copyright {
    background-color: var(--dark);
}

/* #endregion site-header */

/* #region site-main */

.jumbotron,
.about {
    background-color: var(--success);
}

.location {
    background-color: var(--paledark);
}

.ms-container-sm {
    max-width: 320px;
    margin: 0 auto;
}


/* #endregion site-main */

/* #region site-footer */

/* #endregion site-footer */